<div class="row">
    <div class="col-md-3">
        <div class="alert alert-info text-center">
            Pendientes<br />
            <strong>@ViewBag.ContadorPendientes</strong>
        </div>
    </div>
    <div class="col-md-3">
        <div class="alert alert-warning text-center">
            En Proceso<br />
            <strong>@ViewBag.ContadorEnProceso</strong>
        </div>
    </div>
    <div class="col-md-3">
        <div class="alert alert-success text-center">
            Finalizadas<br />
            <strong>@ViewBag.ContadorFinalizadas</strong>
        </div>
    </div>
    <div class="col-md-3">
        <div class="alert alert-danger text-center">
            Fallidas<br />
            <strong>@ViewBag.ContadorFallidas</strong>
        </div>
    </div>
</div>

